<script setup lang="ts">
import {storeToRefs} from "pinia";
import {useAuthStore} from "~/stores/auth";

const router = useRouter();

const {logUserOut} = useAuthStore();
const {authenticated} = storeToRefs(useAuthStore());


const logout = () => {
  logUserOut();
  router.push('/login');
};
</script>

<template>
  <div class="bg-[#1a1a1a] h-full">
    <nav class="hidden md:block lg:w-64 sm:w-32 text-md text-[#5e5e5e] px-5 h-full sticky top-10 bg-[#1a1a1a]">
      <div class="flex flex-col justify-start ml-5 mt-5 bg-[#1a1a1a]">
        <img src="/images/logo/main_logo.png" alt="메인로고" loading="lazy" width="85" height="25">
        <div class="flex justify-between mt-1 mb-1">
          <div class="text-[#ffffff]">
            안녕하세요!
          </div>
          <div class="mr-3 mt-1">
            <li v-if="!authenticated" class="loginBtn text-[12px]" style="float: right">
              <nuxt-link to="/login">Login</nuxt-link>
            </li>
            <li v-if="authenticated" class="loginBtn text-[12px]" style="float: right">
              <nuxt-link @click="logout">Logout</nuxt-link>
            </li>
          </div>
        </div>
      </div>

      <hr>
      <LayoutSidebarList class="min-h-dvh"/>
    </nav>
  </div>
</template>


