@import url('../fonts/roboto.css');
@import url('./reset.css');
@import url('./sidebar.css');
@import url('./tooltip.css');
@import url('./skeleton.css');
@import url('./scrollbar.css');
@import url('./package.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*로그아웃 버튼*/
.loginBtn {
  list-style: none;
}


.table-temp > div > div:nth-child(1) {
  display: none
}

.table-temp > div > div:nth-child(2) table{
  border-radius: 0;
  border-bottom: #1a1a1a solid 2px;
  --tw-border-spacing-y: 0;
  margin-top: 15px;
  /*table-layout: fixed;*/
  /*border-collapse: separate;*/
  /*overflow: hidden;*/
  /*!*: 박스에서 넘쳐난 텍스트 숨기기*!*/
  /*white-space: nowrap;*/
  /*!*: 줄바꿈이 없어짐*!*/
  /*text-overflow: ellipsis;*/
  /*!*: ... 말줄임 효과*!*/
  /*word-break: break-all;*/
  /*!*: 어절이 유지되지 않고 끊어져서 줄바꿈 됨*!*/
}

.table-temp > div > div:nth-child(2) th{
  background-color: #1a1a1a;
  color: #ffffff;
  height: 37px;
  font-size: 16px;
}

.table-temp > div > div:nth-child(3) {
  display: none;
}

.table-temp > div > div:nth-child(2) th::before{
  top: 0.7rem;
}
.table-temp > div > div:nth-child(2) th::after{
  top: 0.8rem;
}

.table-temp > div > div:nth-child(2) td {
  color: #5e5e5e;
  text-align: center;
  font-size: 15px;
  line-height: 20px;
  border-bottom: solid 1px rgb(221, 221, 221);
  border-radius: 0;
  padding: 0;
  height: 50px;
}

@media screen and (min-width: 480px) and (max-width: 1279px) {
  .table-temp > div > div:nth-child(2) td {
    font-size: 13px;
  }
  .table-temp > div > div:nth-child(2) th {
    font-size: 14px;
  }
}

.table-temp > div > div:nth-child(2) tr:last-child td{
  border-bottom: none 0 ;
}

.table-temp > div > div:nth-child(3) > div > div:first-child{
  display: none;
}

.table-temp > div > div:nth-child(3) > div > div:last-child {
  margin: auto;
}

.button-temp button{
  color: #1a1a1a;
}



/*icon size*/
.mat-icon-wrap {
  height: 25px;
  display: flex;
  align-items: center;
}
.mat-icon-wrap svg {
  width: 18px;
  height: 18px;
}



.upload-demo > div {
  display: flex;
  justify-content: right;
}


/*el-table 설정*/
.el-table__header-wrapper thead {
  height: 37px;
  font-size: 16px;
}

.el-table__header th{
  background-color: #1a1a1a !important;
  color: #ffffff !important;
  text-align: center !important;
}

table td {
  text-align: center !important;
  font-size: 15px;
  height: 50px !important;
}

.el-table__inner-wrapper{
  border-bottom: 2px !important;
  border-color: #1a1a1a !important;
  border-style: solid !important;
}


/*select*/
.el-select__wrapper {
  height: 35px !important;
}

.el-pager li.is-active {
  color: #1a1a1a !important;
}

.el-pager li:hover{
  color: #1a1a1a !important;
}

.el-pagination button:hover{
  color: #1a1a1a !important;

}



/* 폼 세로 정렬*/
.text-center{
  align-content: center;
}

.el-form-item {
  margin-bottom: 0 !important;
}


/* el-button 설정 */
/* 검은색 버튼 */
.button-black {
  width: 100px !important;
  height: 40px !important;
  background-color: #1a1a1a !important;
  font-size: 14px !important;
  text-align: center !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

.button-black:hover {
  background-color: #F39B1E;
  border-color: #EDEDED !important;
}


  /* 흰색 버튼 */
.button-white {
  width: 100px !important;
  height: 40px !important;
  font-size: 14px !important;
  text-align: center !important;
  color: #1a1a1a !important;
  font-weight: bold !important;
}

.button-white:hover {
  background-color: #EDEDED !important;
  border-color: #EDEDED !important;
}
